<div class="container py-4">
  <div class="row" *ngIf="packs.length > 0; else noPack">
    <div class="col-6 col-md-4 col-lg-3 mb-3" *ngFor="let p of packs; let i = index">
      <div class="pack-card position-relative"
          [class.opening]="opening && openingIndex===i"
           (mousemove)="onMouseMove($event, i)"
           (mouseenter)="onMouseEnter(i)"
           (mouseleave)="onMouseLeave(i)"
           (click)="openPack(i)"
           [style.transform]="cardTransforms[i] || 'perspective(600px)'">
            <img src="assets/pachetto.png" class="img-fluid" alt="pack">
         <span class="badge bg-success quantity-badge">{{ p.quantity }}</span>
        </div>
    </div>
</div>
  <ng-template #noPack>
    <p class="text-center">Nessun pacchetto disponibile.</p>
  </ng-template>

<div class="mt-4 opened-area" *ngIf="openedCards.length > 0">
    <ngb-carousel class="opened-carousel" [interval]="carouselInterval" [showNavigationArrows]="true" [showNavigationIndicators]="true">
      <ng-template ngbSlide *ngFor="let c of openedCards">
        <div class="card card-item mx-auto" style="width: 18rem;">
          <img [src]="c.image" class="card-img-top" alt="hero">
          <div class="card-body p-2">
            <h6 class="card-title mb-0">{{ c.name }}</h6>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="text-center mt-2">
      <button class="btn btn-success" (click)="insertIntoAlbum()">Inserisci nel album</button>
    </div>
  </div>
</div>
