.card-img-top {
  height: 200px;
  object-fit: cover;
}

.hover {
  transition: transform 0.2s ease;
}

.hover:hover {
  transform: scale(1.03);
}

.search-bar {
  width: 250px;
  border-width: 2px;
  border-color: #0d6efd;
}