<div class="container mt-4" *ngIf="trade">
  <h3>Scambio di {{getUsername()}}</h3>
  <p>{{trade.description}}</p>
  <div class="row">
    <div class="col-md-6">
      <h5>Offre</h5>
      <ul>
        <li *ngFor="let c of trade.offerCards">{{c.name}} x{{c.quantity}}</li>
      </ul>
      <p *ngIf="trade.creditsOffered">Crediti offerti: {{trade.creditsOffered}}</p>
    </div>
    <div class="col-md-6">
      <h5>Richiede</h5>
      <ul>
        <li *ngFor="let c of trade.wantCards">{{c.name}} x{{c.quantity}}</li>
      </ul>
      <p *ngIf="trade.creditsWanted">Crediti richiesti: {{trade.creditsWanted}}</p>
    </div>
  </div>
</div>