.card-item {
  width: 80px;
  flex: 0 0 auto;
}

.card-item img {
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.credits {
  font-size: 1.1rem;
}

.unavailable {
  filter: grayscale(1);
  cursor: not-allowed;
}

.duplicates-slider .card {
  width: 80px;
  flex: 0 0 auto;
  cursor: pointer;
}

.list-group-item.disabled {
  background-color: #a59b9b;
  color: #000000;
}

.list-group-item {
  background-color: #c9d60b;
  color: #000000;
}