.duplicates-slider .card {
  width: 80px;
  flex: 0 0 auto;
  cursor: pointer;
}

.selected-card {
  width: 80px;
  flex: 0 0 auto;
}

.selected-card img {
  height: 100px;
  object-fit: cover;
}

.list-group-item.disabled {
  background-color: #a59b9b;
  color: #000000;
}
.list-group-item {
  background-color: #c9d60b;
  color: #000000;
}